<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossshot.CrossShot1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/gameicon"
        android:label= "@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.crossshot.CrossShot1.Main2Activity"
            android:theme="@style/HiddenTitleTheme"
            android:hardwareAccelerated="true" >

        </activity>
        <activity
            android:name="com.crossshot.CrossShot1.MainActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name="com.crossshot.CrossShot1.instructions"
            android:theme="@style/HiddenTitleTheme"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.crossshot.CrossShot1.name"
            android:theme="@style/HiddenTitleTheme"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.crossshot.CrossShot1.tutorial1"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name="com.crossshot.CrossShot1.splashscreen"
            android:theme="@style/HiddenTitleTheme">
        </activity>
        <activity android:name="com.crossshot.CrossShot1.check">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Required for Google Play Services-->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>